header {
  grid-area: header;
}
main {
  grid-area: main;
  min-height: 90vh;
  width: 100%;
}

footer {
  text-align: center;
  grid-area: footer;
  background-color: #3f51b5;
  padding: 1rem;
  color: white;
  margin-top: 2rem;
}
