.contextInput .MuiInput-underline::before,
.contextInput .MuiInput-underline::after {
  display: none;

  /* border: 1px solid transparent !important; */
}

.editAndDeleteBtn {
  opacity: 0.3;
}
.editAndDeleteBtn:hover {
  opacity: 0.8;
  color: red;
}
